.modal {

    &.image_modal {
        max-height: 98vh;
    }

    .download-container {
        display: flex;
    }

    .download-image {
        border: 1px solid #ddd;
        padding: 0.8rem;
        border-radius: 1rem;

        img {
            max-height: 30rem;
            max-width: 24rem;
        }
    }

    &.help-modal {
        .help-table {
            margin-bottom: 1.4rem !important;
            margin-top: 1.4rem !important;
        }
    }
}
  