@import '../../styles/variables';

.search-box {
    max-width: 520px;

    #app-search-input {
        //font-size: 1rem;
        //margin-top: 0.2rem;
    }

    &-result {

        .avatar {
            background-color: $active-text-color;
        }

        &-content {

            display: flex;

            div {
                display: inline-block;
            }

            &-meta {
                width: 90px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-Space: nowrap;
            }
        }
    }
}
