.cheat-sliding-pane {

    &-overlay {
        margin-top: 80px;
        z-index: 399;
    }

    &-panel,
    &-panel__bottom {
        user-select: none;

        .slide-pane__header {
            display: none;
        }

        &__bottom {
            height: 15vh;
            margin-top: 85vh;

            .slide-pane__content {
                text-align: center;
            }
        }
    }

    nav {
        .nav-group {
            margin-bottom: 30px;
        }
    }
}
