$hover-color: #5755d9;
$hover-bg: #f1f1fc;

.shortcut-table {
    .large-font {
        kbd {
            font-size: 1rem;
        }
    }

    th {
        background-color: #fff;
    }

    td, th {
        padding: 0.2rem 0.2rem;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .shortcut-table-item {
        cursor: pointer;
    }

    .remove-shortcut {
        color: #f00;
    }

    .shortcut-table-item.active {
        color: $hover-color;
        background-color: #f1f1fc !important;
    }
}

.shortcut {
    padding: 0.2rem 0.3em 0.3rem 0.2rem;
    display: inline-block;
    white-space: nowrap;
}