@use './components/ShortcutCard';
@use './components/Modal';

html, body, #app {
    height: 100%;
}

body {
    background-color: #f7f8f9 !important;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 8px;
    user-select: none;
}

.app-content {
    margin-top: 78px;
}

.app-footer {
    height: 2rem;
    text-align: center;
}
