.cheat-sliding-pane {

    &-overlay {
        margin-top: 80px;
        z-index: 399;
    }

    &-panel {
        user-select: none;

        .slide-pane__header {
            display: none;
        }
    }

    nav {
        .nav-group {
            margin-bottom: 30px;
        }
    }
}
