$default-zoom: .9;
$white: #fff;
$warning: #aa0e0e;

$active-text-color: #5755d9;
$active-text-bg: #f1f1fc;

$bg-gray: #f7f8f9;
$gray: #bcc3ce;
$light-gray: lighten($gray, 18%);
$dark-gray: darken($gray, 50%);
