@import '../../styles/variables';

.shortcut-table {
    .large-font {
        kbd {
            font-size: 1rem;
        }
    }


    td, th {
        padding: 0.2rem 0.2rem;
    }

    tr:last-child td {
        border-bottom: none;
    }



    .remove-shortcut {
        color: $warning;
    }

}
