@import '../../styles/variables';

.shortcut-table {
    .large-font {
        kbd {
            font-size: 1rem;
        }
    }

    th {
        background-color: $white !important;
    }

    td, th {
        padding: 0.2rem 0.2rem;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .shortcut-table-item {
        cursor: pointer;
    }

    .remove-shortcut {
        color: $warning;
    }

    .shortcut-table-item {
        &.active, &:hover {
            color: $active-text-color;
            background-color: $active-text-bg !important;
        }
    }
}

.shortcut {
    padding: 0.2rem 0.3em 0.3rem 0.2rem;
    display: inline-block;
    white-space: nowrap;
}