@import "../../styles/variables";

$breakpoint-single-row: 768px;

.shortcut-cards {
    column-count: 2;
    
    @media (max-width: $breakpoint-single-row) {
        column-count: 1;  
    }
}

.shortcut-card {
    border: 0;
    box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    break-inside: avoid;
    margin-bottom: 0.8rem;
    
    .card-header {
        background-color: $bg-gray;
        padding-bottom: 0.8rem;
    }

    .export-menu a {
        cursor: pointer;
    }

    .row-new-cmd {
        border-top: .05rem solid #dadee4;
    }
}
