<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.files.css %>
</head>
<body class="__show-debug-viz">
    <div id="app"></div>
    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
        <script defer src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>
</html>