@import '../../styles/variables';

.new-shortcut-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

    color: $gray;
    background-color: $light-gray;
    border: 0.05rem dashed $dark-gray;
    border-radius: 0.1rem;

    font-size: 0.8rem;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }

    &.focus {
        outline: $active-text-color auto 1px;
    }
}